body {
    background-image: linear-gradient(#3b1566, #5f4da8);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}

#imagem {
    padding-top: 100px;
    width: 350px;

}

#botoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 110px;
}

#retroceder {
    color: aliceblue;
    background-color: transparent;
    border: none;
    background-size: cover;
    cursor: pointer;
    font-size: 3rem;
    padding: 0 10px;
}


#play {
    color: aliceblue;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size:  3rem;
    padding: 0 10px;
}


#avancar {
    color: aliceblue;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    padding: 0 10px;
}
